.container{
    /* height:500px; */
    width:500px;
    border-width:2px;
    border-style:solid;
}
.main1{
    height:300px;
    margin:20px;
}
.sec1 , .sec2 , .sec3{
    height:300px;
    width :100px;
    border-width:2px;
    border-style:solid;
    display:inline-block;
    margin:10px;
}
.sec3{
    width:170px;
}
.main2{
    height:200px;
    border-width:2px;
    border-style:solid;
    margin:10px;
    margin-top:30px;
}
.item1 , .item2, .item3{
    width:100px;
    height :170px;
    border-width:2px;
    border-style:solid;
    display:inline-block;
    margin:10px;
}
.item3{
    width:150px;
}